* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #ffffff,
    #eeeeee,
    #dddddd,
    #cccccc,
    #bcbcbc
  );
}

.container {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-container {
  transition: all 0.5s;
  position: absolute;
}

.image-container img {
  object-fit: contain;
}

.container-top,
.container-bottom {
  display: flex;
  height: 50vh;
  animation-name: slide;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.image-top,
.image-bottom {
  height: 50vh;

  ;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-300%);
  }
  60% {
    transform: translate(-300%);
  }
  70% {
    transform: translateX(-400%);
  }
  80% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-500%);
  }
}
